#Header{
    width:100%;
    background-color:#232323;
    height:50px;
    position:fixed;
    color:#cecece;
}
#EmptySpaceBellowHeader{ height:50px;}
#HeaderContent{
    width:100%;
    min-width:700px;
    max-width:800px;
    margin:0 auto;
}


#HeaderLeft {
    float:left;
    height:50px;
}

#HeaderRight{
    float:right;
    height:50px;
}
.user_link{
    display: inline-block;
    margin:17px 20px 0px 0px;
    font-style: italic;
    color:#cecece;
    text-decoration: none;
}
.user_link:hover{
    color:#FFF;
}

#HeaderLeft h1{
    margin:0;
    line-height: 50px;
}
#HeaderLeft h1:hover{
    color:#FFF;
}


#HeaderLink{
    text-decoration:none;
    color:#cecece;
}
#HeaderLink:hover{
    color:#FFF;
}

.sign_inup{
    width:70px;
    height:50px;
    display: inline-block;
    float:right;
    line-height: 50px;
    color:#cecece;
    text-decoration:none;
    text-align:center;
}
.sign_out{
    width:70px;
    height:50px;
    display: inline-block;
    float:right;
    line-height: 50px;
    color:#cecece;
    text-decoration:none;
    text-align:center;
}
.sign_inup:hover{
    color: #FFF ;
}
.sign_out:hover{
    color: #FFF ;
}
.titleBracket{
    color:#416cb4;
}